{% extends 'base.html.twig' %}

{% block body %}
<h1 class="mt-5"><span>Welcome to</span><br>Home System<br>Symfony  version: {{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION')}}<br>php version: {{phpversion}}</h1>

 <button class="ajax">click me!</button>
    <div id="ajax-results">here comes the result</div>
    <script>
        $(document).on('click', 'button.ajax', function(){
            that = $(this);
            $.ajax({
                url:'{{ (path('app_bundle_route')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "some_var_name": "some_var_value"
                },
                async: true,
                success: function (data)
                {
                    console.log(data)
                    $('div#ajax-results').html(data.output);

                }
            });
            return false;

        });
        setInterval(function(){
      $('ajax-results').load('button.ajax');
 },500);

    </script>
{% endblock %}